In [1]:
from particletracking import dataframes
import numpy as np

In [2]:
file = "/media/data/Data/FirstOrder/Hysterisis/5Repeats/RedTrayDense/0.1_down_4.hdf5"

In [3]:
data = dataframes.DataStore(file)

In [4]:
df = data.df
df.head()
df.Duty = df.Duty.round()

In [32]:
df.groupby('frame').mean().head()

,x,y,r,Duty,order_r,order_i,neighbors,order,density,shape_factor,on_edge
frame,,,,,,,,,,,
0,1004.658960,1001.057803,17.658960,701.0,0.006944,-0.029461,3.300578,0.623670,0.717257,1.178755,False
1,1001.397661,999.935673,17.690058,701.0,0.027648,0.030146,3.146199,0.640806,0.702777,1.177166,False
2,1004.303371,999.898876,17.634831,701.0,0.008784,-0.026893,3.331461,0.628087,0.723750,1.166843,False
3,995.395349,998.180233,17.645349,701.0,-0.116957,-0.066932,3.180233,0.624432,0.706569,1.185422,False
4,1000.040230,1000.281609,17.620690,701.0,-0.024459,-0.019403,3.183908,0.606873,0.709636,1.186957,False

In [33]:
df.groupby(df.index).mean().head()

,x,y,r,Duty,order_r,order_i,neighbors,order,density,shape_factor,on_edge
frame,,,,,,,,,,,
0,1004.658960,1001.057803,17.658960,701.0,0.006944,-0.029461,3.300578,0.623670,0.717257,1.178755,False
1,1001.397661,999.935673,17.690058,701.0,0.027648,0.030146,3.146199,0.640806,0.702777,1.177166,False
2,1004.303371,999.898876,17.634831,701.0,0.008784,-0.026893,3.331461,0.628087,0.723750,1.166843,False
3,995.395349,998.180233,17.645349,701.0,-0.116957,-0.066932,3.180233,0.624432,0.706569,1.185422,False
4,1000.040230,1000.281609,17.620690,701.0,-0.024459,-0.019403,3.183908,0.606873,0.709636,1.186957,False

In [5]:
def filter_box(df, xmin, xmax, ymin, ymax):
    df = df.loc[(df.x > xmin) * (df.x < xmax) * (df.y > ymin) * (df.y < ymax)]
    return df

In [6]:
df = filter_box(df, 750, 1250, 750, 1250)

/home/ppxjd3/miniconda3/envs/Experiments/lib/python3.7/site-packages/pandas/core/computation/expressions.py:178: UserWarning: evaluating in Python space because the '*' operator is not supported by numexpr for the bool dtype, use '&' instead
  f"evaluating in Python space because the {repr(op_str)} "

In [7]:
frame_group = df.groupby('frame').mean()

In [8]:
duty_group = df.groupby('Duty').mean()

In [9]:
import matplotlib.pyplot as plt
%matplotlib auto

Using matplotlib backend: Qt5Agg

In [11]:
duty_group

,x,y,r,order_r,order_i,neighbors,order,density,shape_factor,on_edge
Duty,,,,,,,,,,
599.0,1005.681395,1001.765116,17.497674,-0.872296,-0.091232,5.381395,0.897692,0.832259,1.110806,False
600.0,1005.544402,1001.677846,17.496370,-0.879253,-0.082154,5.337030,0.901540,0.826910,1.110810,False
601.0,1005.994434,1001.333952,17.517625,-0.876891,-0.071302,5.307050,0.898010,0.826541,1.110842,False
602.0,1005.523248,1001.716940,17.495370,-0.879499,-0.082139,5.337544,0.901666,0.826976,1.110824,False
603.0,1005.406037,1001.744250,17.486590,-0.879069,-0.082941,5.329006,0.901480,0.826615,1.110849,False
...,...,...,...,...,...,...,...,...,...,...
697.0,1001.360081,1000.712260,17.652312,0.078390,0.007357,3.142257,0.625597,0.700916,1.183744,False
698.0,1000.923917,1000.721952,17.654165,0.064023,0.004676,3.162012,0.627163,0.702542,1.184212,False
699.0,999.464411,1001.655776,17.686114,0.096926,-0.047117,3.082847,0.628759,0.697271,1.186157,False
700.0,1000.967626,1001.693730,17.658082,0.060425,-0.006398,3.099289,0.629738,0.696015,1.186084,False
701.0,1001.335312,1000.655942,17.655421,0.067850,0.009584,3.134976,0.624419,0.699444,1.185364,False

In [12]:
frame_group

,x,y,r,Duty,order_r,order_i,neighbors,order,density,shape_factor,on_edge
frame,,,,,,,,,,,
0,1004.658960,1001.057803,17.658960,701.0,0.006944,-0.029461,3.300578,0.623670,0.717257,1.178755,False
1,1001.397661,999.935673,17.690058,701.0,0.027648,0.030146,3.146199,0.640806,0.702777,1.177166,False
2,1004.303371,999.898876,17.634831,701.0,0.008784,-0.026893,3.331461,0.628087,0.723750,1.166843,False
3,995.395349,998.180233,17.645349,701.0,-0.116957,-0.066932,3.180233,0.624432,0.706569,1.185422,False
4,1000.040230,1000.281609,17.620690,701.0,-0.024459,-0.019403,3.183908,0.606873,0.709636,1.186957,False
...,...,...,...,...,...,...,...,...,...,...,...
50995,1005.333333,1001.185185,17.472222,600.0,-0.869847,-0.077280,5.310185,0.894645,0.827059,1.111163,False
50996,1005.158140,1001.772093,17.460465,600.0,-0.866429,-0.073204,5.195349,0.889450,0.821106,1.111595,False
50997,1005.525581,1001.288372,17.483721,600.0,-0.871721,-0.041830,5.339535,0.890720,0.823490,1.111438,False
50998,1004.392523,1001.616822,17.504673,600.0,-0.867858,-0.053844,5.378505,0.891975,0.827554,1.111537,False
50999,1004.144860,1001.084112,17.514019,600.0,-0.894061,-0.060702,5.313084,0.911499,0.823224,1.110345,False

In [13]:
def get_duty_from_frame(frame_col, direction, top, bottom):
    if direction is 'down':
        return np.linspace(top, bottom, len(frame_col))
    else:
        return np.linspace(bottom, top, len(frame_col))

In [14]:
frame_group['duty_inter'] = get_duty_from_frame(frame_group.index, 'down', 700, 600)

In [26]:
plt.plot(frame_group['duty_inter'], frame_group['order'])
plt.plot(duty_group.index, duty_group['order'])

In [24]:
duty_group.index

Float64Index([599.0, 600.0, 601.0, 602.0, 603.0, 604.0, 605.0, 606.0, 607.0,
              608.0,
              ...
              692.0, 693.0, 694.0, 695.0, 696.0, 697.0, 698.0, 699.0, 700.0,
              701.0],
             dtype='float64', name='Duty', length=103)